* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;

}

main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Zilla Slab', serif;
    Verdana Geneva,
    Tahoma,
    sans-serif 400;
    font-size: 60px;
    text-align: center;
    color: whitesmoke;

}

h2 {
    color: whitesmoke;
    align-items: center;
    text-align: center;
}

p {
    font-size: large;
    color: whitesmoke;
    width: 450px;

}

ul {
    list-style-type: none;
    padding: 5px;

}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
}

button {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    margin: 0px 1px;
    border: 1px solid #669966;
    border-radius: 0px;
    background-color: darkgray;
    font-size: 20px;
}

.section {

    background-image: url("../image/GRADIENT.jpg");
    background-size: cover;
    height: 200px;
    flex: 1 1 auto;
    padding: 5px 0px 5px 0px;
    text-align: center;
    align-content: center;
}


.container {

    flex-wrap: wrap;

    width: auto;
    margin: auto;


}

.title {
    background-color: #669966;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;

}

.typo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-content: space-around;

}



.item {
    width: 450px;

}


#carpImages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-content: space-around;
    margin: 10px;
}


@media(max-width:768px) {
    .typo-gallery {
        flex-direction: column;
    }
}


.row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 450px;
    border-radius: 5px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.codingsheet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 10px;
}
.screenshot{
    width: 450px;
    border-radius: 5px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.section1 {
    background-color: black;
    text-align: center;
}

img {
    width: 450px;
}

.section2 {
    background-color: black;
    text-align: center;

}

.section3 {
    background-color: black;
    text-align: center;


}

.section4 {
    background-color: black;
    text-align: center;
}

h3 {
    color: whitesmoke;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #669966;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    color: white;
    padding: 10px 0px;
    border: 1px solid purple;
}