body{ background-color: black;

}
h1{
    font-family: 'Zilla Slab', serif; Verdana, Geneva, Tahoma,
    sans-serif; 400; 
     font-size: 60px;
     text-align: center;
    color:black;

}
h2{
    color: whitesmoke;
}
ul{
 list-style-type: none;
 padding: 1px; 

}
.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color;
    padding: 5px;
    margin: 0px 1px;
    border: 1px solid #669966;
    border-radius: 0px;
    background-color:darkgray;
}
.section{

    background-image:url("GRADIENT.jpg");
    height: 200px;
    flex: 1 1 auto;
    padding: 5px 0px 5px 0px;
}
.section1 {
    background-color: #669966;
    height: 100px;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 5px;

}
